#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.barraNavegacion {
  background-color: theme;
  color:theme;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.rutas{  
    
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  font-size: 15px;
}

.linksNavegacion{  
  text-decoration: none;
  outline: none;
  background-color: theme;
  color:theme;
  padding-right: 20px;
  padding-left: 20px
}

.cardsOdontologos{
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 10px;
  background-color: rgb(223, 230, 233);
  border: 1px solid grey;
  width: 200px;
  height: 310px;
}
.cardsOdontologosImagen{
  width: 90%;
}

.cardsOdontologosName {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: black;
  font-family: "Arial", sans-serif;
}
.cardsOdontologosUsername {
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: "Arial", sans-serif;
  
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

} 

.footer{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: theme;
  color:theme;
}

.footerTexto{
  background-color: theme;
  color:theme;
  font-weight: bold;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}
.divIconos{  
  /* background-color: red; */
  width: 150px;
  list-style: none; 
  display: flex; 
  justify-content: space-evenly;
}

.footerIconos{
 height: 25px;
 filter: brightness(50%);
}

.detailDentist{
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */
  padding-top: 20px;
  padding-bottom: 30px;
}
.detailCard{
  background-color: rgb(223, 230, 233);
  padding: 5px; /* Espacio interno para el contenido */
  width: 400px; /* Ancho fijo en píxeles */
  border: 1px solid black; /* Añadido un estilo de borde */
}

.divFavoritos{  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /* Centra verticalmente los elementos */
}


.cargaFormulario{  
  height: 150px;
  padding-bottom: 10px;
  padding-top: 10px;}

  .form{
    padding-bottom: 15px;
  }